*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
nav{
  margin-bottom: 20px;
  background-color: rgb(98, 212, 212);
  border-radius: 12px;
}
ul{
  display: flex;
  justify-content: space-between;
  width: 20%;
  list-style: none;
  padding: 20px;
}
ul li a {
  text-decoration: none;
  font-size: large;
}

h1, h3{
  display: flex;
  justify-content: center;
}
div, table{
  margin: 20px
}
button{
  padding: 15px;
  background-color: blueviolet;

}
td a{
  margin:5px;
}
